<app-progress-bar
  [title]="'Terms'"
  [step]="2"
  [total]="4" >
</app-progress-bar>
<h2>Congratulations!</h2>
<p>You're approved for a credit limit of</p>
<p class="bold">$15,000</p>
<hr class="top">
<table>
  <tr>
    <td>Your purchase:</td>
    <td class="table-right">$1,500.25</td>
  </tr>
  <tr>
    <td>Remaining available credit:</td>
    <td class="table-right">$13,499</td>
  </tr>
  <tr>
    <td>Monthly payment:</td>
    <td class="table-right">$145.87</td>
  </tr>
  <tr>
    <td>Term:</td>
    <td class="table-right"> 12 Months</td>
  </tr>
  <tr>
    <td>Interest rate:</td>
    <td class="table-right">0.00%</td>
  </tr>
</table>
<hr class="bottom">
<p>To continue please enter the 6-digit code</p>
<p>sent to your mobile phone (416) 222-2222</p>
<input #code type="text" maxlength="6"
             placeholder="Enter code"
             [ngClass]="{ error: incorrectCode }"
             (keyup)="onSubmit(code.value)">
<p *ngIf="incorrectCode" class="error">Incorrect code. Try again.</p>
<p class="footer">If you didn't receive a code <a href="#">click here</a>.</p>
<p class="footer">Terms & Conditions</p>
