p {
  margin-top: 1.5em;
  color: #003861;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
  max-width: 18em;
}

.questions{
  margin-top: 1.5em;
  max-width: 22em;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #003861;
  border-radius: 0.2em;
  color: white;
  font-size: 1em;
  height: 2.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}

.fa-angle-double-right {
  color: white;
  background-color: #003861;
  border-radius: 0.1em;
  display: block;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  width: 1.5em;
  text-align: center;
}

.footer {
  margin-top: 2em;
  font-size: 0.8em;
}
