input[type=text] {
  display: block;
  width: 100%;
  max-width: 24em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 2.5em;
  border-radius: 0.4em;
  border: 1px solid lightgrey;
  font-size: 1em;
  padding-left: 1em;
}

::placeholder {
  color: lightgrey;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  color: #003861;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p {
  text-align: center;
  color: #003861;
  max-width: 26em;
  margin: auto;
}

span {
  color: #e37520;
}

a {
  color: #003861;
  display: block;
  text-align: center;
  text-decoration: none;
}

input[type=submit] {
  background-color: #000080;
  border-radius: 0.4em;
  color: white;
  font-size: 1em;
  height: 2.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}

#disclaimer {
  font-size: 0.9em;
  font-style: italic;
}

#subheading {
  font-size: 1.2em;
  margin-bottom: 1em;
}

#agreement {
  margin-top: 1.5em;
  font-size: 1.1em;
}

.footer {
  margin-top: 3em;
  font-size: 0.9em;
}
