<p>Get an instant decision</p>
<p>
  If approved, you will pay <span>$146/month for 12 months,</span> interest-free on your Visa, Mastercard, or Bank Account.
</p>
<form>
  <input type="text" placeholder="First Name">
  <input type="text" placeholder="Last Name">
  <input type="text" placeholder="Start typing your address here...">
  <a href="#">I can't find my address</a>
  <input type="text" placeholder="Mobile Phone Number">
  <input type="text" placeholder="Email Address">
  <input type="text" placeholder="Birthday (mm/dd/yyyy)">
  <p>Please ensure that this information is accurate and is your own.</p>
  <p>
    By clicking submit I agree to the PayBright <span>Terms & Conditions</span> and I consent to a credit check
  </p>
  <input type="submit" value="SUBMIT">
</form>

