input[type=text] {
  display: block;
  width: 100%;
  max-width: 24em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 2.5em;
  border-radius: 0.4em;
  border: 1px solid lightgrey;
  font-size: 1em;
  padding-left: 1em;
}


p {
  text-align: center;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

input[type=submit] {
  background-color: #000080;
  border-radius: 0.4em;
  color: white;
  font-size: 1em;
  height: 2.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: block;
  margin: auto;
}
