li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: orange;
  margin: 0 2em;
  display: inline-block;
  color: white;
  position: relative;
}

li::before {
  content: '';
  position: absolute;
  top: .9em;
  left: 0em;
  width: 4em;
  height: .3em;
  background: orange;
  z-index: -1;
}

li::after {
  content: '';
  position: absolute;
  top: .9em;
  right: 0em;
  width: 4em;
  height: .3em;
  background: orange;
  z-index: -1;
}

li:first-child::after {
  display: none;
}

li:last-child::before {
  display: none;
}

.active {
  background: orange;
}

.active ~ li {
  background: lightgrey;
  color: grey;
}

.active ~ li::after {
  background: lightgrey;
}

.active ~ li::before {
  background: lightgrey;
}

ul {
  position: relative;
  margin-top: 2.5em;
}

p {
  position: absolute;
  top: -2.5em;
}
