li {
  width: 2em;
  height: 2em;
  margin: 0 2em;
  display: inline-block;
  position: relative;
}

.stage {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #f07334;
  margin: 0 2em;
  color: white;
  position: relative;
}

ul {
  width: 24em;
  margin: auto;
  padding-right: 4em;
  padding-left: 0;
}

li::before {
  content: '';
  position: absolute;
  top: .9em;
  left: 2em;
  width: 4em;
  height: .3em;
  background: #f07334;
  z-index: -1;
}

li::after {
  content: '';
  position: absolute;
  top: .9em;
  width: 4em;
  height: .3em;
  background: #f07334;
  z-index: -1;
}

li:first-child::after {
  display: none;
}

li:last-child::before {
  display: none;
}

.active ~ li > div > p.stage {
  background-color: #e6e6e6;
  color: grey;
}

.active ~ li::after {
  background-color: #e6e6e6;
}

.active ~ li::before {
  background-color: #e6e6e6;
}

ul {
  position: relative;
  margin-top: 2.5em;
}

.stage-title {
  position: absolute;
  top: -2.5em;
  left: 0;
  right: 0;
  text-align: center;
  color: #003861;
  font-size: 0.8em;
  white-space: nowrap;
  display: none;
}

.active > div > p.stage-title {
  display: block;
}

div {
  position: relative;
  width: 6em;
}
