.container {
  max-width: 24em;
  margin: auto;
}

.title {
  position: relative;
  color: #003861;
  background-color: lightgrey;
  font-size: 1.1em;
  line-height: 2em;
  height: 2em;
  text-align: center;
}

.active {
  color: white;
  background-color: #003861;
}
.answered {
  color: white;
  background-color: #003861;
}

.question {
  font-size: 1.1em;
  padding: 10px;
  background-color: lightgrey;
  color: #003861;
}

.answer {
  color: #003861;
  background-color: white;
  font-size: 1.1em;
  line-height: 2em;
  height: 2em;
  text-align: center;
  border: 1px solid lightgrey;
}

.answer.selected {
  border: 1px solid #e37520;
}

.closed {
  border: 1px solid white;
}

.fa-check {
  color: lightgreen;
  position: absolute;
  right: 0;
  padding: 0.3em;
}

